body{
	background-color: #666 ;
}

#login {
padding: 2% 0 0;
}

.login h1 a {
background-size:300px auto;
background-position: center top;
background-repeat: no-repeat;
/*height : 130px;*/
width : 300px;
}